a{
  text-decoration: none;
  color:#F9E2AF;
}
body{
  background-color:#1E3E62;
}
::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  background-color: #1E3E62;
}

::-webkit-scrollbar-thumb {
  background-color: #FF6500;
}

.portfolio{
  height: 85vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin: 3rem;
  background-color: #1E3E62;
  &__nav{
    padding: 3rem;
    width: 100%;
    &-list {
        list-style: none;
        padding: 6px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li{
          margin: 3px;
        }
    }
    &-link{
        background-color: #F9E2AF;
        color: #1E3E62;
        width: 100px;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s, color 0.3s; 
    }
    &-link:hover{
      width: 10em;
      background-color: #FF6500;
      color:#1E3E62;
    }
  }
  &__left{
    height: 90%;
    width: 45%;
    position: sticky;
  }
  &__right{
    height: 80%;
    width: 50%;
    overflow: auto;
    margin-top: 3rem;
  }
  &__header h1 {
    font-size: 4.2rem;
    font-weight: 600;
    color: #F9E2AF;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  &__description{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #F9E2AF;
    font-size: 1.2rem;
    font-weight: 600;
  }
  h2{
    font-size: 2.8rem;
    font-weight: 600;
    font-family: "Lucida Console", "Courier New", monospace;

  }
  p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1.2rem;
  }
.section{
  margin: 3rem;
  color: #F9E2AF;

  &__content{
    font-family: "Lucida Console", "Courier New", monospace;
  }
}
}
.project-card {
    background-color: transparent;
    opacity: 0.5;
    padding: 1.5rem;
    border-top: 6px dashed #FF6500;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(gray, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 8px rgba(#FF6500, 0.15);
      opacity: 1;
    }

    &__description{
      padding: 10px;
    }
    &__tech{
      padding: 10px;
    }
}

.icon-wrapper {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30rem;
  right: 1.7rem;
  
  svg {
    width: 2.5rem;
    height: 4.3rem;
    transition: all 0.2s ease;
    stroke:#FF6500;
  }
}

:root {
  --deg: 1;
  --x: -50%;
  --y: -50%;
  --speed: 150ms;
}

.circle {
  position: absolute;
  bottom: 5px;
  top: 80%;
  left: 77%;
  right: 5px;
  transform: translate(var(--x, -50%), var(--y, -50%)) rotate(0deg);
  font-size: 20vmin;
  width: 1.5em;
  height: 1.5em;
  border-radius: 90% 95% 85% 105%;
  background: #0f0;
  mix-blend-mode: screen;
  filter: hue-rotate(0deg);
  animation: wobble calc(var(--speed) * var(--t)) linear infinite;
  transform-origin: -var(--y) -var(--x);
  box-shadow: 0 0 .5em .2em #000 inset, 0 0 .15em 0 #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    font-size: 0.5em;
    content: "VTDT";
    white-space: nowrap;
  }
  &:nth-child(1) {
    --x: -53%;
    --y: -53%;
    --t: 37;
  }
  &:nth-child(2) {
    --x: -47%;
    --y: -52%;
    --t: 58;
  }
  &:nth-child(3) {
    --x: -45%;
    --y: -50%;
    --t: 46;
  }
  &:nth-child(4) {
    --x: -53%;
    --y: -45%;
    --t: 72;
  }
  &:nth-child(5) {
    --x: -55%;
    --y: -45%;
    --t: 62;
  }
}

@keyframes wobble {
  to {
    filter: hue-rotate(360deg);
    transform: translate(var(--x), var(--y)) rotate(360deg);
  }
}

@media (max-width: 500px) {
  .section{
    margin: 3rem;
    color: #F9E2AF;
  
    &__content{
      font-family: "Lucida Console", "Courier New", monospace;
    }
  }
  .portfolio {
    display: flex;
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title{
      font-size: 3rem !important;
    }
  }

  .portfolio__left {
    position: relative;
    width: 100%;
    height: 40%;
    // padding: 2rem;
    align-items: center;
    text-align: center;
    &__header h1 {
      font-size: 0.1rem;
      font-weight: 600;
      color: #F9E2AF;
      font-family: "Lucida Console", "Courier New", monospace;
    }
  }

  .portfolio__right {
    width: 100%;
    height: auto; 
    padding: 2rem;
  }

  .portfolio .icon-wrapper {
    display: none;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}